<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension=".py" mimeType="application/python" />
            <mimeMap fileExtension=".rb" mimeType="application/ruby" />
            <mimeMap fileExtension=".erb" mimeType="application/ruby" />
        </staticContent>
    </system.webServer>
</configuration>
